<h2>A list of all your favorite Rick and Morty characters:</h2>
<ul>
    <% for (key in favorite) { %>
        <li> <%= favorite[key].name %></li>
        <form method="POST" action="/favorite/<%= favorite[key].id %>?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
    <% } %>
</ul>




